<style>
  #contentjumbotron {
    text-align: center;
  }
</style>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class=" col-md-8">
        <div class="jumbotron" id="contentjumbotron">
          <h1 class="display-4">Ver XML</h1>
          <textarea class="form-control" id="ShowFile" rows="8" style="color: #272727"></textarea>
        </div>
      </div>
      <div class=" col-sm-4">
        <div class="jumbotron">
          <h1 class="display-4" id="bao">Subir XML</h1>
          <hr />
          <form>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" accept=".xml" (click)="Load()">
              <label class="custom-file-label" for="customFile" style="color: #272727"></label>
            </div>
            <script src="../index.js"></script>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
