<div class="jumbotron">
  <h1 class="display-4">Guardar XML</h1>
  <h6 class="lead">Ernesto Monge Bolívar</h6>
  <hr />

  <form>
    <div class="form-group">
      <label>Preferencias</label>
      <br />
      <input type="checkbox" /><label class="cbLabels">Todos los Productos presentes en orden Alfabético</label>
      <br />
      <input type="checkbox" /><label class="cbLabels">Todos los Proveedores con Dirección perteneciente a Alajuela</label>
      <br />
      <input type="checkbox" /><label class="cbLabels">Todos los Proveedores con Dirección perteneciente a Cartago y Guanacaste</label>
      <br />
      <input type="checkbox" /><label class="cbLabels">Todos los Cantones de Heredia y Puntarenas juntos</label>
      <br />
      <input type="checkbox" /><label class="cbLabels">Todas las Ordenes de Compra de los Proveedores de Limón</label>
      <br />
      <input type="checkbox" /><label class="cbLabels">Todos los Productos de la Línea de Comida perteneciente a Carnes</label>

    </div>
    <button class="btn">Guardar</button>
    <button class="btn">Elegir otra vez</button>
  </form>
</div>
