/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

.jumbotron {
    margin: 0;
    background-color: rgba(0,0,0,0);
    height: 450px;
}

.col-md-8 {
  padding: 0;
}

.col-sm-4 {
  padding: 0;
}
